/* header {
  border-bottom: 2px solid black;
  position: relative;
  top: 6vw;
  padding: 0.2vw;
  background: transparent;
  display: flex;
} */
header {
  position: relative;
  top: 0vw;
  height: 4em;
  background: black;
  display: flex;

}
.leftnav {
  /* border: 2px solid red; */
  background: transparent;
  padding: 0.5vw;
  width: 6vw;
  margin-left: 6vw;
  
}
.leftnav > p {
  background: transparent;
  /* border: 2px solid grey; */
  width: 15vw;
  font-size: 2.5vw;
  color: salmon;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
}
.midnav {
  /* border: 2px solid green; */
  background: transparent;
  padding: 0.7vw;
  width: 40vw;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.midnav > a {
  background-color: transparent;
  /* border: 2px solid salmon; */
  text-decoration: none;
  font-size: 1.1vw;
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  transition: all 0.1s;
}
.midnav > a:hover {
  /* border-bottom: 3px solid white; */
  color: salmon;
}
.rightnav {
  /* border: 2px solid blue; */
  background: transparent;
  padding: 0.2vw;
  width: 10vw;
  margin-left: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rightnav>a>img{
  height: 2.5vw;
}
/* .rightnav > img {
  background: transparent;
  height: 2vw;
}

.rightnav > img:nth-child(2) {
  height: 2vw;
  position: relative;
  left: -1vw;
} */
